<h4 class='mb-4 mt-4'>
  <span>News Feed</span>
</h4>

<% @posts.order(id: :desc).each do |post| %>
  <% if post.published? %>
    <%= link_to post_path(post.id), class: 'text-decoration-none' do %>
      <div class='card mb-3 post-card'>
        <div class='card-body'>
          <div class='row'>
            
            <div class='col-md-2'>
              <% if post.header_image.present? %>
                <div class='header-img' style='background-image: url(<%= url_for(post.header_image) %>);'></div>
              <% end %>
            </div>
            
            <div class='col-md-10'>
              <span class='badge badge-primary mb-3'>Published by <%= post.author.email %></span>
              <h5 class='card-title mb-2 text-dark'><%= post.title %></h5>
              <p class='text-secondary mb-0'><%= post.description %></p>
            </div>
            
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
